@font-face {
  font-family: "iconfont"; /* Project id 3204373 */
  src: url('//at.alicdn.com/t/font_3204373_tek6yjpgval.woff2?t=1645755740310') format('woff2'),
       url('//at.alicdn.com/t/font_3204373_tek6yjpgval.woff?t=1645755740310') format('woff'),
       url('//at.alicdn.com/t/font_3204373_tek6yjpgval.ttf?t=1645755740310') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-QQ:before {
  content: "\e667";
  font-size: 19px
  color: rog(16, 164, 255) ;
}

