@font-face {
  font-family: "iconfont"; /* Project id 3204373 */
  src: url('//at.alicdn.com/t/font_3204373_nhw4iz5mgfp.woff2?t=1645757539771') format('woff2'),
       url('//at.alicdn.com/t/font_3204373_nhw4iz5mgfp.woff?t=1645757539771') format('woff'),
       url('//at.alicdn.com/t/font_3204373_nhw4iz5mgfp.ttf?t=1645757539771') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-telegram:before {
  content: "\e60c";
  font-size: 19px
  color: #1296db
}

.icon-QQ:before {
  content: "\e667";
  font-size: 19px
  color: #10a4ff
}


